<%= render 'shared/header' %>

<div class="promo-hero promo-hero-bg-color">
  <div class="promo-hero-content">
    <%= render_elements %>
    <div class="promo-hero-ctas">
      <a href="#" class="promo-section-cta button primary">Order Now!</a>
      <a href="#" class="promo-section-cta button white-hollow">Learn More</a>
    </div>
  </div>
</div>
