<div class="ui inverted vertical masthead center aligned segment">

  <%= render 'shared/header' %>

  <div class="ui text container">
    <%= render_elements %>
    <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
  </div>

  <%= render_elements %>
<div>
