<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <h1 class="promo-hero-title"">
      <%= el.render :h1 %>
    </h1>
    <p class="promo-hero-description hide-for-small-only">
      <%= el.render :h2 %>
    </p>
  <%- end -%>
<%- end -%>
