@import '_settings';

.menu-wrapper {
  background-color: $dark-gray;

  li {
      color: $white
    }

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
}

.lang-links {
  a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
  }
}